[project]
	description = Python library which returns a constrained subset of the members of a dict of dicts
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Polley (jamezpolley)
[access "refs/for/refs/*"]
	read = group user/James Polley (jamezpolley)
	push = group user/James Polley (jamezpolley)
	label-Code-Review = -2..+2 group user/James Polley (jamezpolley)
	label-Verified = -1..+1 group user/James Polley (jamezpolley)
	rebase = group user/James Polley (jamezpolley)
	removeReviewer = group user/James Polley (jamezpolley)
	submit = group user/James Polley (jamezpolley)
[access "refs/heads/*"]
	read = group user/James Polley (jamezpolley)
	create = group user/James Polley (jamezpolley)
	push = +force group user/James Polley (jamezpolley)
	pushMerge = group user/James Polley (jamezpolley)
[access "refs/tags/*"]
	push = +force group user/James Polley (jamezpolley)
	pushTag = group user/James Polley (jamezpolley)
	pushSignedTag = group user/James Polley (jamezpolley)
